<div class="col-md-6">
	<div class="skillattributes">
		<div class="col col-md-2">
		User
		</div>
		<div class="col col-md-6">
		Service
		</div>
		<div class="col col-md-2">
		Location
		</div>
		<div class="col col-md-2">
		Price
		</div>
	</div>

	<% @skills.each do |skill| %>
	<div class="skills">
		<h2><%=skill.title %></h2>
		<h4><%=skill.subcategory_id %></h4>
		<h4><%=skill.price %></h4>
	</div>
	<% end %>
</div>

<div class="col-md-6">
	<div id="googleMap"></div>
</div>

