		
	<tr>
		<td class="searchrow"><%=@skill.user.fname %></td>
		<td class="searchrow"><%=@skill.title %></td>
		<td class="searchrow"><%=@skill.subcategory_id %></td>
		<td class="searchrow"><%=@skill.price %></td>
	</tr>

