<!-- Partial with simple search  -->
<div class="container">
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary col-md-6" data-target="#" href="/page.html">
                Dropdown <span class="caret"></span>
            </a>
    		<ul class="dropdown-menu multi-level col-md-6" role="menu" aria-labelledby="dropdownMenu">
              <li><a href="#">Some action</a></li>
              <li><a href="#">Some other action</a></li>
              <li class="divider"></li>
              <li class="dropdown-submenu col-md-6">
                <a tabindex="-1" href="#">Hover me for more options</a>
                <ul class="dropdown-menu col-md-6">
                  <li><a tabindex="-1" href="#">Second level</a></li>
                  <li class="dropdown-submenu col-md-6">
                    <a href="#">Even More..</a>
                    <ul class="dropdown-menu col-md-6">
                        <li><a href="#">3rd level</a></li>
                    	<li><a href="#">3rd level</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Second level</a></li>
                  <li><a href="#">Second level</a></li>
                </ul>
              </li>
            </ul>
        </div>
</div>
<br>
<div class="searchbar">
<%= form_tag new_search_path, method: :get do |f| %>
	<div class ="col-md-6">
	<%= text_field_tag :search, nil, placeholder: 'What are you looking for?',class: 'form-control' %>
	</div>
	<div class ="col-md-3">
		<%= text_field_tag :search, nil, placeholder: 'Where?',class: 'form-control' %>
	</div>
	<div class ="col-md-2">
	<%= submit_tag "Search",class: 'form-control btn-warning' %>
	</div>
</div>
<% end %>