 		<div class="image">
	    	<img src="/assets/dogwalker.jpg" alt="Dogwalker">
	     		<div class="caption">
	       	 		<h2>YOUR SKILLS, ON DEMAND</h2>
	       	 		<h4>YOUR SKILLS, YOUR SCHEDULE, YOUR PRICE.</h4>
	     		</div>
	    </div>
<div class="col-md-12 searchbox">
<%= render 'search' %>
</div>