<section class="block">
<div id="myCarousel" class="carousel_slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	    <li data-target="#myCarousel" data-slide-to="4"></li>    
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  	<div id="carousel-overlay" class="container-well">
	  		<div class="jumbotron">
	  			<div class="textcontrast">
	  				<!-- Renders search partial -->
	  				<div class="thesearch">
	  					<h1>Find someone with a skill</h1><br>
	  					<%= render 'search' %></div>
	  			</div>
	  		</div>
	  	</div>
	      <div class="item active">
	    	<img src="/assets/tutor.jpg" alt="Tutor">
	      		<div class="carousel-caption">
	        		<h3>You choose the time, place and person!</h3>
	      		</div>
	    </div>
	      
	    <div class="item">
	    	<img src="/assets/dogwalker.jpg" alt="Dogwalker">
	     		<div class="carousel-caption">
	       	 		<h3>The easiest way to get things done!</h3>
	     		 </div>
	    </div>

	    <div class="item">
	      	<img src="/assets/Haircoloring.jpg" alt="Haircolorist">
	      		<div class="carousel-caption">
	        		<h3>Choose any from almost 100 skills!</h3>
	      		</div>
	    </div>

	    <div class="item">
	      	<img src="/assets/music.jpg" alt="Music Teacher">
	      		<div class="carousel-caption">
	       	 		<h3>Flexible, practical and easy. Just sign up to see your service provider's contact!</h3>
	     	 	</div>
	    </div>

	   <div class="item">
			<img src="/assets/personal_trainer.jpg" alt="Personal Trainer">
	      		<div class="carousel-caption">
	        		<h3>Find a person with a specific skill near you!</h3>
	      		</div>
	    </div>
	  </div>
 </div>

<div>  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>

<div class="col-md-12 pushdown">
</div>

