// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

TH {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
}

TH:hover {
    color: #f60;
    cursor: default;
}

TH a:hover {
    color: #f60;
    cursor: default;
}

TD {
    border-radius: 5px;
}

.searchrow {
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 5px;
    text-align: center;

}

.spacing-table {
    border-collapse: separate;
    border-spacing: 0 5px; /* this is the ultimate fix */
    border-color: white;
    border-top: solid gray 1px;
    margin-left: 2px;
}
