// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
//  position: absolute;
  margin: 0 auto;
  z-index: 999;
}
#ownerButton {
  float: left;
  margin-left: 200px;
}
#pilotButton {
  float: right;
  margin-right: 100px;
}
.jumbotron .textcontrast {
  color: whitesmoke;
}
#carousel-overlay {
  position: absolute;
  width: 100%;
  text-align: center;
  // min-height: 370px;
  background-color: transparent;
  z-index: 3000000;
  margin-top: 30%;
}
#item {
  position: relative;
}
#carousel-overlay .jumbotron {
  background-color: transparent;
}