// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thesearch {
  height: 900px;
  width: 900px;
  position:relative; 
}
#shade {
  position: absolute;
  left: 0;
  top:0;

}
#title{
    z-index: 100;
    position: absolute;
    height: 60px;
    width: 740px;
    margin-top: 90px;
}

.jumbotron {
/*  position: absolute; */
  margin: 0 auto;
  z-index: 1;
}
.jumbotron .textcontrast {
  color: whitesmoke;
}
#carousel-overlay {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#item {
  position: relative;
}
#carousel-overlay .jumbotron {
  background-color: transparent;
}